h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #434455;
}

img {
    display: block;
}

/* =========== Header styles =========== */

.page-header {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        background-color: #fff;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

.page-nav {
    display: flex;
    align-items: center;
}

.header-container {
    align-items: center;
    display: flex;
}

.menu {
    display: flex;
    gap: 40px;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.upper-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.studio-logo {
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

/*=====address=====*/
.address-email-phone {
    font-style: normal;
    margin-left: auto;
}

.nav-address{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address:hover,
.nav-address:focus {
    color: #404bbf;
}

/* =========== title-section =========== */

.main-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.title-section {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
        background: #2e2f42;
        padding: 188px 0;
        background-size: cover;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero/hero-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }

.button-service-block {
font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
    color: #fff;
    background: #404bbf;
}

/* =========== Benefits Section styles =========== */

.banefits-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.banefits-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
 } 

.banefits-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.banefits-list-icon {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: #f4f4fd;
}

.banefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4)
}

.banefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.banefits-subtitle-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* =========== Team Section styles =========== */

.team-list {
    display: flex;
    gap: 24px;
    padding-right: auto;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-item-name {
    padding: 32px 0;
}

.team-cards {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-cards-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-card-positions {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px
}
.social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.social-media-list-item {
    height: 40px;
    width: 40px;
}

.social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icons {
    fill: #f4f4fd;
}

.social-media-links:hover,
.social-media-links:focus {
    background-color: #404bbf;
}

/* =========== Portfolio styles =========== */

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    text-align: left;
    row-gap: 48px;
}

.portfolio-list-item {
    border: 1px solid #e7e9fc;
    width: 360px;
}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overlay-text,
.portfolio-list-item:focus .portfolio-overlay-text {
    transform: translateY(0%);
}

/* =========== /Footer styles =========== */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0 100px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.text-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-name {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
}

.footer-social {
    display: inline-block;
    /* margin-left: 120px; */
}

.footer-social-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.icon-social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-footer:hover,
.icon-social-footer:focus {
    background-color: #31d0aa;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.icon-footer {
    fill: #f4f4fd;
}
.subscribe-container {
    margin-left: 80px;
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.footer-form {
    display: flex;
    gap: 24px;

}


.footer-lable-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-lable-input::placeholder {
    color: #ffffff;

}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-icon {
    margin-left: 16px;
}
/* =========== autorisation styles =========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 8px;

}

.modal-form-block {
    margin-bottom: 8px;
}

.modal-form-block-comment {
    margin-bottom: 16px;
}

.icon-form-block {
    position: relative;
}

.icon-form-input {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-text {

    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form-label-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-label-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-input:focus+.icon-form-input {
    fill: #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massage {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massage::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-massage:focus {
    border-color: #4D5AE5;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2e2f42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.checkbox-lable {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-form-policy {
    margin-bottom: 24px;
}

.castom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: #f4f4fd;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-checkbox:checked+.checkbox-lable .castom-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    fill: #F4F4FD;

}

.privacy-checkbox:focus+.checkbox-lable .castom-checkbox {
    outline: 1px solid #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover .modal-send-btn:focus {
    background: #404bbf;

}

.is-open {
    opacity: 1;
    visibility: visible;
}